@model Resume.maker.Models.Output_Models.User_Model
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        رزومه ساز
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Assets/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Assets/assets/demo/demo.css" rel="stylesheet" />

    <!--Castum Style Start-->
    <style>
        * {
            font-family: 'fnt';
        }
    </style>
    <!--Castum Style End-->

</head>
<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo" style="cursor:pointer;">
                @if (Model.profile_image_address != null)
                {
                    <img src="@Model.profile_image_address" width="75px" style="display:block; margin:0 auto;border-radius:100%;" onclick="OnClick_Change_Password_Dialog()"/>
                }
                else
                {
                    <img src="~/Assets/assets/img/account.png" width="75px" style="display:block; margin:0 auto;border-radius:100%;" onclick="OnClick_Change_Password_Dialog()"/>
                }
                <p style="display:block;margin:0 auto;text-align:center;">@Model.name @Model.family</p>
                <style>
                    .sidebar .logo p
                    {
                        float:none;
                        color:#020;
                        font-size:14px;
                        margin-top: 17px !important;
                    }
                </style>
            </div>



            @{ 
                var Route = Url.RouteUrl(ViewContext.RouteData.Values);
                string[] Curent_Route = Route.Split('/');
            }

            @if (Model.user_Type.Equals("ADMIN"))
            {
               <div class="sidebar-wrapper">
                <ul class="nav">
                    @if (Curent_Route[1] == "Dashboard")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="/Dashboard">
                                <i class="material-icons">dashboard</i>
                                <p>داشبورد</p>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="/Dashboard">
                                <i class="material-icons">dashboard</i>
                                <p>داشبورد</p>
                            </a>
                        </li>
                    }


                    @if (Curent_Route[1] == "AllUsers")
                    {
                    <li class="nav-item active">
                        <a class="nav-link" href="/AllUsers">
                            <i class="material-icons">person</i>
                            <p>کاربران</p>
                        </a>
                    </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="/AllUsers">
                                <i class="material-icons">person</i>
                                <p>کاربران</p>
                            </a>
                        </li>
                    }


                    @if (Curent_Route[1] == "EditResume")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="~/EditResume">
                                <i class="material-icons">content_paste</i>
                                <p>ویرایش رزومه</p>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="~/EditResume">
                                <i class="material-icons">content_paste</i>
                                <p>ویرایش رزومه</p>
                            </a>
                        </li>
                    }



                    @if (Curent_Route[1] == "ViewResume")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="~/ViewResume">
                                <i class="material-icons">bubble_chart</i>
                                <p>مشاهده رزومه</p>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/ViewResume">
                                <i class="material-icons">bubble_chart</i>
                                <p>مشاهده رزومه</p>
                            </a>
                        </li>
                    }


                    @if (Curent_Route[1] == "Search")
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="/Search">
                                <i class="material-icons">description</i>
                                <p>جست و جو</p>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="/Search">
                                <i class="material-icons">description</i>
                                <p>جست و جو</p>
                            </a>
                        </li>
                    }

                    @if (Curent_Route[1] == "Categoris")
                    {
                    <li class="nav-item active">
                        <a class="nav-link" href="/Categoris">
                            <i class="material-icons">system_update_alt</i>
                            <p>دسته بندی ها</p>
                        </a>
                    </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="/Categoris">
                                <i class="material-icons">system_update_alt</i>
                                <p>دسته بندی ها</p>
                            </a>
                        </li>
                    }


                    @if (Curent_Route[1] == "Cities")
                    {
                    <li class="nav-item active">
                        <a class="nav-link" href="/Cities">
                            <i class="material-icons">web</i>
                            <p>شهر ها</p>
                        </a>
                    </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="/Cities">
                                <i class="material-icons">web</i>
                                <p>شهر ها</p>
                            </a>
                        </li>
                    }


                    <li class="nav-item ">
                        <a class="nav-link" href="/Exit">
                            <i class="material-icons">unarchive</i>
                            <p>خروج</p>
                        </a>
                    </li>
                </ul>
            </div>
            }
            else
            {
                <div class="sidebar-wrapper">
                    <ul class="nav">

                        @if (Curent_Route[1] == "Dashboard")
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/Dashboard">
                                    <i class="material-icons">dashboard</i>
                                    <p>داشبورد</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="/Dashboard">
                                    <i class="material-icons">dashboard</i>
                                    <p>داشبورد</p>
                                </a>
                            </li>
                        }


                        @if (Curent_Route[1] == "EditResume")
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="~/EditResume">
                                    <i class="material-icons">content_paste</i>
                                    <p>ویرایش رزومه</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="~/EditResume">
                                    <i class="material-icons">content_paste</i>
                                    <p>ویرایش رزومه</p>
                                </a>
                            </li>
                        }



                        @if (Curent_Route[1] == "ViewResume")
                        {
                        <li class="nav-item active">
                            <a class="nav-link" href="~/ViewResume">
                                <i class="material-icons">bubble_chart</i>
                                <p>مشاهده رزومه</p>
                            </a>
                        </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/ViewResume">
                                    <i class="material-icons">bubble_chart</i>
                                    <p>مشاهده رزومه</p>
                                </a>
                            </li>
                        }


                        @if (Curent_Route[1] == "Search")
                        {
                        <li class="nav-item active">
                            <a class="nav-link" href="/Search">
                                <i class="material-icons">description</i>
                                <p>جست و جو</p>
                            </a>
                        </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="/Search">
                                    <i class="material-icons">description</i>
                                    <p>جست و جو</p>
                                </a>
                            </li>
                        }


                        @if (Curent_Route[1] == "Exit")
                        {
                        <li class="nav-item active">
                            <a class="nav-link" href="/Exit">
                                <i class="material-icons">unarchive</i>
                                <p>خروج</p>
                            </a>
                        </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Exit">
                                    <i class="material-icons">unarchive</i>
                                    <p>خروج</p>
                                </a>
                            </li>
                        }


                    </ul>
                </div>
            }


        </div>
        <div class="main-panel">
           
            
            

            <!--Wait Panel Start-->
            <div id="Wait_Panel">

            </div>
            <style>
                #Wait_Panel {
                    width: 100vw;
                    height: 100vh;
                    background: #66666666;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 999;
                    display: none;
                }
            </style>
            <!--Wait Panel End-->

            
             




            




            


            @RenderBody()




        </div>
    </div>















  




    <!--   Core JS Files   -->
    <script src="~/Assets/assets/js/core/jquery.min.js"></script>
    <script src="~/Assets/assets/js/core/popper.min.js"></script>
    <script src="~/Assets/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Assets/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/Assets/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Assets/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Assets/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Assets/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Assets/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Assets/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Assets/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Assets/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Assets/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Assets/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Assets/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Assets/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Assets/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
    </script>
    <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
    </script>






    <!--Change Password Box Start-->
    <div id="change_password_box_background" style="display:none;">
        <div id="change_password_box_content">
            <p style="text-align:right;">تغییر رمز عبور</p>
            <form method="post" action="~/ChangePassword">
                <input style="width:100%;" type="password" placeholder="رمز عبور جدید" name="newpassword"/>
                <input style="margin-bottom:0;width:100%;background:#9c27b0;color:#FFF;cursor:pointer;" type="submit" value="تایید" />
            </form>
        </div>
    </div>
    <style>
        
        #change_password_box_background
        {
            width:100vw;
            height:100vh;
            background:#66666666;
            position:fixed;
            display:flex;
            justify-content:center;
            align-items:center;
            z-index:9;
            top:0;
            left:0;
        }

        #change_password_box_content
        {
            width:400px;
            background:#FFF;
            border-radius:4px;
            padding:25px;
        }

    </style>
    <script>
        //Get Change Password Dialog Function Start
        function OnClick_Change_Password_Dialog()
        {
            var change_password_box_background = window.document.getElementById("change_password_box_background");
            change_password_box_background.style.display = "flex";
        }
        //Get Change Password Dialog Function End
    </script>
    <!--Change Password Box End-->




</body>
</html>